$mainBackground: #21232E;
$headerText:#ffffff;
$btnColor:#E3AC00;
$hoverBtn:#ff4326;
$Itembg:#3B3F50;
$AfterColor:#ff4326;
$logoColor:#ffffff;
$welcomeAfterColor:#ff4326;
$sectionTextColor:#ffffff;
$UnderlineColor:#ff4326;
$readyBackgroundColor:linear-gradient(to right,#D89B0A, #922B53);
$sectionBannerTitleColor:#ffffff;
$sectionBannerAdterColor:#ff4326;
$footerColor:#3B3F50;

$font1:'Source Sans Pro', sans-serif;
$font2:'Fresca', sans-serif;
$font3:'Hind', sans-serif;

$bgImgHeader:url("../img/m-h-night.jpg");