$mainBackground: #ffffff;
$headerText:#363a4d;
$btnColor:#1e991e;
$hoverBtn:#15aad3;
$Itembg:#21232E;
$AfterColor:#15aad3;
$logoColor:#363a4d;
$welcomeAfterColor:#15aad3;
$sectionTextColor:#363a4d;
$UnderlineColor:#15aad3;
$readyBackgroundColor:linear-gradient(to right,#1e991e, #3256b9);
$sectionBannerTitleColor:#363a4d;
$sectionBannerAdterColor:#15aad3;
$footerColor:#363a4d;

$font1:'Source Sans Pro', sans-serif;
$font2:'Hind', sans-serif;
$font3:'Fresca', sans-serif;

$bgImgHeader:url("../img/m-h-day.jpg");