section {
  box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

#home {
  box-shadow: 0px 0px 10px 0px rgba(61, 55, 61, 0.7);
}

.tm-banner-inner {
  background-color: #ffffff;
}

.tm-banner {
  background-color: #76cdd7;
  width: 100%;
}

#about ul li:hover{
  background-color: #87cefa;
}

#about ul li:hover h2 {
  color: #fff;
  font-weight: 400;
}

.tm-banner-inner p {
  text-shadow: 0px 5px 0px #76cdd7;
  letter-spacing: 7px;
  word-spacing: 5px;
}

section::before {
  content: '';
  border-style: solid;
  border-width: 40px 40px 0 0;
  display: block;
  width: 0;
  height: 0;
  border-color: #87cefa transparent transparent transparent;
}

.heading h2 {
  color: #76cdd7;
  text-align: center;
  
}

.heading ol {
  list-style-type: upper-roman;
}

.heading ol li {
  padding-left: 5px;
}

.heading ol li a {
  text-decoration: none;
  color: #000000;
  
}

.heading ol li a:visited {
  color: #ffb347;
}

.heading ol li:hover a {
  padding-left: 3px;
  color: #ffb347;
  font-weight: 700;
  border-left: 3px solid #ffb347;
  
}

.heading ol li:nth-child(1)::after,
.heading ol li:nth-child(3)::after {
  content: 'New';
  color: #ff0000;
  font-size: 12px;
  position: absolute;
  font-weight: 600;
  font-variant: small-caps;
}

.blocks li {
  padding: 10px;
}

.blocks ul li p::first-letter {
  color: #000000;
  font-size: 25px;
}
.blocks li:nth-child(odd) {
  background-color: #ffffff;
}

.blocks li:nth-child(even) {
  background-color: #f5f5f5;
}

.box .box-work p::first-letter {
  color: #000000;
}

.blocks ul li p {
  font-size: 16px;
  font-style: italic;
  
}
.blocks .tm-team-description-container .tm-section-description:nth-child(2) {
  font-style: italic;
}
.blocks .tm-team-description-container .tm-section-description:nth-child(2)::first-letter {
padding-left: 20px;
}

#contact_name {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #9cd7fa;
  border-radius: 3px;
  color: #7c7c7c;
}

#contact_email {
  background-color: #ffffff;
  border-radius: 5px;
  border: 3px solid #9cd7fa;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #fff;
}
#contact_email:focus {
background-color: #76CDD7;
  color: #fff;
}

#contact_email::placeholder {
  color: #c7c7c7;
}


#contact_subject {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid #9cd7fa;
  border-radius: 3px;
  color: #7c7c7c;
}

.form-control:focus {
  box-shadow: 0 0 0 0 transparent;
}

.contact-form .btn {
  display: block;
  margin-right: 0;
  margin-left: auto;
  background-color: #fff;
  border: 3px solid #9cd7fa;
  width: 150px;
  height: 50px;
  color: #9cd7fa;
  border-radius: 0;

}

.contact-form .btn:hover {
  background-color: #9cd7fa;
  border: 3px solid #9cd7fa;
  color: #fff;

}

#contact_message {
  resize: none;
  border-radius: 5px;
  border: 3px solid #9cd7fa;
  color: #7c7c7c;
}

.tm-main-nav {
  box-shadow: 0px 0px 15px 0px rgba(61, 55, 61, 0.7);
}

.tm-main-nav ul li:hover {
  background-color: #f5f5f5;
}

.tm-content-box:nth-child(1) {
  display: flex;
  align-items: center;
}

.mandatory-field::after {
  content: "";
  background: url(../img/email-icon.png) no-repeat;
  background-size: 25px;
  width: 25px;
  height: 25px;
  display: block;
  margin-top: 5px;
  background-position: right;
}

.tm-content-box:nth-child(1) p:nth-child(2) {
  
  font-style: italic;
}

.tm-content-box:nth-child(1) p:nth-child(2)::first-letter {
  padding-left: 30px;
}

.tm-content-box:nth-child(1) p:nth-child(3)::first-letter {
  padding-left: 30px;
}

.tm-content-header p {
  animation-duration: 3s;
  animation-name: flip;
  animation-iteration-count: infinite;
}

@keyframes flip {
  from {
    transform: perspective(0) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  15% {
    transform: perspective(0) rotate3d(0, 1, 0, -250deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(0) rotate3d(0, 1, 0, -180deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(0) rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
}


@media print {

  body {
    background-color: #ffffff;
    padding-top: 0;
  }

  .tm-banner {
    padding: 0 0 40px 0;
  }

  .tm-sidebar {
    display: none;
  }

  .tm-team-img {
    display: none;
  }

  #about {
    display: none;
  }

  .gallery-container {
    display: none;
  }

  .img-contact-us {
    display: none;
  }

  .tm-content-box {
    padding: 0;
    margin: 0;
  }

  #contact {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .tm-main-content {
    padding-top: 0;
  }

  .tm-team-description-container {
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .padding-medium {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 0;
    display: flex;
    }

  .heading h2 {
    font-weight: 200;
    color: #87cefa;
  }

  .heading ol {
    max-width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    
  }
  .heading ol li a:visited {
    color: transparent !important;
  }

  .heading ol li:nth-child(1)::after,
  .heading ol li:nth-child(3)::after {
    display: none;
  }

  .heading ol li {
    list-style: none;
  }
  .heading a {
    color: #000000;
  }

  .heading li {
    width: 100%;
  }

  .heading li::first-letter {
    color: #87cefa;
    font-size: 24px;
  }

  .heading li:nth-child(even) {
    text-align: right;
  }

  .heading li:nth-child(odd) {
    text-align: left;
  }

  .tm-footer {
    padding: 0;
  }

  .tm-footer p {
    margin: 0;
  }

  .tm-team-description-container .tm-section-description:nth-child(2){
    font-style: normal;
}
  .tm-content-box:nth-child(1) p:nth-child(2) {
    font-style: normal;
    color: #000000;
  }

  .tm-content-header p {
    text-shadow: none;
    letter-spacing: 0;
    word-spacing: 0;
  }

  .tm-content-box:nth-child(1) {
    display: block;
  }

section::before {
    content: '';
    display: none !important;
  }
}